

/*DOCTOR INFO SECTION*/
.dr-one {
  margin-top: 24px;
}

.dr-two {
  margin-bottom: 8px;
}

.dr-info {
  margin-top: 8px;
}

/*CONTACT TABLE*/
.con-tb {
  margin: 16px 0px;
}

.t-head {
  font-weight: bold;
}

/*GOOGLE MAP*/
.g-map {
  margin-top: 24px;
}
